# PlatformIO
.pio/
.vscode/
.pioenvs/
.piolibdeps/

# Arduino
build/
*.elf
*.hex

# IDE
.DS_Store
*.swp
*.swo
*~
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak
node_modules
dist-electron
dist
release
out
bin
obj
*.keystore